<option value="Bedrooms">Bedrooms</option>
<option value="Iconic Cities">Iconic Cities</option>
<option value="Treaking">Treaking</option>
<option value="Castles">Castles</option>
<option value="Amazing Pools">Amazing Pools</option>
<option value="Camping">Camping</option>
<option value="Farms">Farms</option>
<option value="Arctic">Arctic</option>
<option value="Beach">Beach</option>
<option value="River">River</option>
<option value="Cruise">Cruise</option>
<option value="Hotel">Hotel</option>
<option value="Camping">Trending</option>
<option value="Farms">Haunting</option>
<option value="Arctic">Aquarium</option>
<option value="Beach">Greenery</option>
<option value="River">City</option>
<option value="Cruise">Temples</option>
<option value="Hotel">Tower</option>
<option value="Hotel">Archway</option>