
<div id="filters">
    <a href="/listings/category?type=Bedrooms">
        <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>Bedrooms</p>
        </div>
    </a>
    <a href="/listings/category?type=Iconic%20Cities">
        <div class="filter">
            <i class="fa-solid fa-mountain-city"></i>
            <p>Iconic Cities</p>
        </div>
    </a>
    <a href="/listings/category?type=Treaking">
        <div class="filter">
            <i class="fa-solid fa-mountain-sun"></i>
            <p>Treaking</p>
        </div>
    </a>
    <a href="/listings/category?type=Castles">
        <div class="filter">
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Castles</p>
        </div>
    </a>
    <a href="/listings/category?type=Amazing%20Pools">
        <div class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Amazing Pools</p>
        </div>
    </a>
    <a href="/listings/category?type=Camping">
        <div class="filter">
            <i class="fa-solid fa-tents"></i>
            <p>Camping</p>
        </div>
    </a>
    <a href="/listings/category?type=Farms">
        <div class="filter">
            <i class="fa-solid fa-cow"></i>
            <p>Farms</p>
        </div>
    </a>
    <a href="/listings/category?type=Arctic">
        <div class="filter">
            <i class="fa-solid fa-snowflake"></i>
            <p>Arctic</p>
        </div>
    </a>
    <a href="/listings/category?type=Beach">
        <div class="filter">
            <i class="fa-solid fa-umbrella-beach"></i>
            <p>Beach</p>
        </div>
    </a>
    <a href="/listings/category?type=River">
        <div class="filter">
            <i class="fa-solid fa-water"></i>
            <p>River</p>
        </div>
    </a>
    <a href="/listings/category?type=Cruise">
        <div class="filter">
            <i class="fa-solid fa-ship"></i>
            <p>Cruise</p>
        </div>
    </a>
    <a href="/listings/category?type=Hotel">
        <div class="filter">
            <i class="fa-solid fa-hotel"></i>
            <p>Hotel</p>
        </div>
    </a>

    <a href="/listings/category?type=Trending">
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </div>
    </a>
    <a href="/listings/category?type=Haunting">
        <div class="filter">
            <i class="fa-solid fa-ghost"></i>
            <p>Haunting</p>
        </div>
    </a>
    <a href="/listings/category?type=Aquarium">
        <div class="filter">
            <i class="fa-solid fa-fish"></i>
            <p>Aquarium</p>
        </div>
    </a>
    <a href="/listings/category?type=Greenery">
        <div class="filter">
            <i class="fa-solid fa-tree"></i>
            <p>Greenery</p>
        </div>
    </a>
    <a href="/listings/category?type=City">
        <div class="filter">
            <i class="fa-solid fa-city"></i>
            <p>City</p>
        </div>
    </a>
    <a href="/listings/category?type=Temples">
        <div class="filter">
            <i class="fa-solid fa-gopuram"></i>
            <p>Temples</p>
        </div>
    </a>
    <a href="/listings/category?type=Tower">
        <div class="filter">
            <i class="fa-solid fa-tower-observation"></i>
            <p>Tower</p>
        </div>
    </a>
    <a href="/listings/category?type=Archway">
        <div class="filter">
            <i class="fa-solid fa-archway"></i>
            <p>Archway</p>
        </div>
    </a>
    



    <!-- <a href="/listings/category?type=River">
        <div class="filter">
            <i class="fa-solid fa-water"></i>
            <p>River</p>
        </div>
    </a>
    <a href="/listings/category?type=Cruise">
        <div class="filter">
            <i class="fa-solid fa-ship"></i>
            <p>Cruise</p>
        </div>
    </a>
    <a href="/listings/category?type=Hotel">
        <div class="filter">
            <i class="fa-solid fa-hotel"></i>
            <p>Hotel</p>
        </div>
    </a>

    <a href="/listings/category?type=Trending">
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </div>
    </a>
    <a href="/listings/category?type=Haunting">
        <div class="filter">
            <i class="fa-solid fa-ghost"></i>
            <p>Haunting</p>
        </div>
    </a>
    <a href="/listings/category?type=Aquarium">
        <div class="filter">
            <i class="fa-solid fa-fish"></i>
            <p>Aquarium</p>
        </div>
    </a>
    <a href="/listings/category?type=Greenery">
        <div class="filter">
            <i class="fa-solid fa-tree"></i>
            <p>Greenery</p>
        </div>
    </a>
    <a href="/listings/category?type=City">
        <div class="filter">
            <i class="fa-solid fa-city"></i>
            <p>City</p>
        </div>
    </a>
    <a href="/listings/category?type=Temples">
        <div class="filter">
            <i class="fa-solid fa-gopuram"></i>
            <p>Temples</p>
        </div>
    </a>
    <a href="/listings/category?type=Tower">
        <div class="filter">
            <i class="fa-solid fa-tower-observation"></i>
            <p>Tower</p>
        </div>
    </a>
    <a href="/listings/category?type=Archway">
        <div class="filter">
            <i class="fa-solid fa-archway"></i>
            <p>Archway</p>
        </div>
    </a> -->


    
</div>