<!-- flash msg alert for success -->
<% if ( successMsg && successMsg.length ) { // note that successMsg is an array. First condition checks if array exits, second checks if array has content or is empty. Size of array should be greater then 0 %> 
    <div class="alert alert-info col-6 offset-3 alert-dismissible fade show" role="alert">
        <%= successMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<!-- flash msg alert for error -->
<% if ( errorMsg && errorMsg.length ) {  %> 
    <div class="alert alert-secondary col-6 offset-3 alert-dismissible fade show" role="alert">
        <%= errorMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
