<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-linkedin text-white"></i>
            <i class="fa-brands fa-facebook text-white"></i>
            <i class="fa-brands fa-square-instagram text-white"></i>
        </div>
        <div class="f-info-brand text-white">
            &copy; <h6>Wanderlust Private Limited</h6>
        </div>
        <div class="f-info-links">
            <a href="/privacy" class="text-white"><h6>Privacy</h6></a>
            <a href="/terms" class="text-white"><h6>Terms and Conditions</h6></a>
        </div>
    </div>
</footer>
